@use 'base/_base.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: base.$font-stack;
  width: 100%;
}
a {
  text-decoration: none;
}
// Colors Text
.white-text {
  color: base.$white;
}
.grey-text {
  color: base.$grey;
}
.banner {
  background-image: base.$background-banner;
}
.mx-auto {
  margin: 0 auto;
}
.size-text {
  max-width: 600px;
  margin: 0 auto;
}

.text-left {
  text-align: left;
}
/* container class */
.container {
  padding: 0 15px;
  margin: 0 auto;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-5 {
  margin-top: 50px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mb-5 {
  margin-bottom: 50px;
}

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-5 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mx-1 {
  margin: 0px 5px;
}
.mx-2 {
  margin: 0px 10px;
}
.mx-3 {
  margin: 0px 15px;
}
.mx-4 {
  margin: 0px 20px;
}
.mx-5 {
  margin: 0px 30px;
}
.pa-0 {
  padding: 0px !important;
}
.pa-1 {
  padding: 5px;
}
.pa-2 {
  padding: 10px;
}
.pa-3 {
  padding: 15px;
}
.pa-4 {
  padding: 20px;
}
.pa-5 {
  padding: 30px;
}
.py-0 {
  padding: 0px 0px;
}
.py-1 {
  padding: 5px 0px;
}
.py-2 {
  padding: 10px 0px;
}
.py-3 {
  padding: 15px 0px;
}
.py-4 {
  padding: 20px 0px;
}
.py-5 {
  padding: 30px 0px !important;
}

/* max width 1400px */
.max-width {
  max-width: 1400px;
  margin: 0 auto;
}

/* row class to be used when using col-*-* */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 100%;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.justify-start {
  justify-content: start;
}
.align-center {
  align-items: center;
}
.space-around {
  justify-content: space-around;
}
/* row class but with full width */
.row-full-width {
  margin: 0 -15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* column class to be used instead of row class to change flex-direction only */
.column {
  margin: 0 -11px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* column class with full width */
.column-full-width {
  margin: 0 -15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}

/* Column Width Variable */
$col-width: 8.333333333333333%; /* 1 Column Width = 100% / 12 */

/* Column Width md - Default */
.title {
  font-size: 38px;
  font-weight: bold;
  line-height: 58px;
}
.col-md-1 {
  padding: 0 11px;
  max-width: $col-width;
  flex-basis: $col-width;
}

.col-md-2 {
  padding: 0 11px;
  max-width: $col-width * 2;
  flex-basis: $col-width * 2;
}

.col-md-3 {
  padding: 0 11px;
  max-width: $col-width * 3;
  flex-basis: $col-width * 3;
}

.col-md-4 {
  padding: 0 11px;
  max-width: $col-width * 4;
  flex-basis: $col-width * 4;
}

.col-md-5 {
  padding: 0 11px;
  max-width: $col-width * 5;
  flex-basis: $col-width * 5;
}

.col-md-6 {
  padding: 0 11px;
  max-width: $col-width * 6;
  flex-basis: $col-width * 6;
}

.col-md-7 {
  padding: 0 11px;
  max-width: $col-width * 7;
  flex-basis: $col-width * 7;
}

.col-md-8 {
  padding: 0 11px;
  max-width: $col-width * 8;
  flex-basis: $col-width * 8;
}

.col-md-9 {
  padding: 0 11px;
  max-width: $col-width * 9;
  flex-basis: $col-width * 9;
}

.col-md-10 {
  padding: 0 11px;
  max-width: $col-width * 10;
  flex-basis: $col-width * 10;
}

.col-md-11 {
  padding: 0 11px;
  max-width: $col-width * 11;
  flex-basis: $col-width * 11;
}

.col-md-12 {
  padding: 0 11px;
  max-width: $col-width * 12;
  flex-basis: $col-width * 12;
}

/* To be used if columns are required without any padding */
.col-no-padding {
  padding: 0;
}

/* Media Query lg - Min-Width: 1400px */
@media screen and (min-width: 1400px) {
  /* Column Width lg */
  .title {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 58px;
  }
  .subtitle {
    font-size: 18px;
    color: #6b6b6b;
  }
  .col-lg-1 {
    padding: 0 11px;
    max-width: $col-width;
    flex-basis: $col-width;
  }

  .col-lg-2 {
    padding: 0 11px;
    max-width: $col-width * 2;
    flex-basis: $col-width * 2;
  }

  .col-lg-3 {
    padding: 0 11px;
    max-width: $col-width * 3;
    flex-basis: $col-width * 3;
  }

  .col-lg-4 {
    padding: 0 11px;
    max-width: $col-width * 4;
    flex-basis: $col-width * 4;
  }

  .col-lg-5 {
    padding: 0 11px;
    max-width: $col-width * 5;
    flex-basis: $col-width * 5;
  }

  .col-lg-6 {
    padding: 0 11px;
    max-width: $col-width * 6;
    flex-basis: $col-width * 6;
  }

  .col-lg-7 {
    padding: 0 11px;
    max-width: $col-width * 7;
    flex-basis: $col-width * 7;
  }

  .col-lg-8 {
    padding: 0 11px;
    max-width: $col-width * 8;
    flex-basis: $col-width * 8;
  }

  .col-lg-9 {
    padding: 0 11px;
    max-width: $col-width * 9;
    flex-basis: $col-width * 9;
  }

  .col-lg-10 {
    padding: 0 11px;
    max-width: $col-width * 10;
    flex-basis: $col-width * 10;
  }

  .col-lg-11 {
    padding: 0 11px;
    max-width: $col-width * 11;
    flex-basis: $col-width * 11;
  }

  .col-lg-12 {
    padding: 0 11px;
    max-width: $col-width * 12;
    flex-basis: $col-width * 12;
  }
}

/* Media Query ml - Min-Width: 1200px */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  /* Column Width ml */
  .col-ml-1 {
    padding: 0 11px;
    max-width: $col-width;
    flex-basis: $col-width;
  }

  .col-ml-2 {
    padding: 0 11px;
    max-width: $col-width * 2;
    flex-basis: $col-width * 2;
  }

  .col-ml-3 {
    padding: 0 11px;
    max-width: $col-width * 3;
    flex-basis: $col-width * 3;
  }

  .col-ml-4 {
    padding: 0 11px;
    max-width: $col-width * 4;
    flex-basis: $col-width * 4;
  }

  .col-ml-5 {
    padding: 0 11px;
    max-width: $col-width * 5;
    flex-basis: $col-width * 5;
  }

  .col-ml-6 {
    padding: 0 11px;
    max-width: $col-width * 6;
    flex-basis: $col-width * 6;
  }

  .col-ml-7 {
    padding: 0 11px;
    max-width: $col-width * 7;
    flex-basis: $col-width * 7;
  }

  .col-ml-8 {
    padding: 0 11px;
    max-width: $col-width * 8;
    flex-basis: $col-width * 8;
  }

  .col-ml-9 {
    padding: 0 11px;
    max-width: $col-width * 9;
    flex-basis: $col-width * 9;
  }

  .col-ml-10 {
    padding: 0 11px;
    max-width: $col-width * 10;
    flex-basis: $col-width * 10;
  }

  .col-ml-11 {
    padding: 0 11px;
    max-width: $col-width * 11;
    flex-basis: $col-width * 11;
  }

  .col-ml-12 {
    padding: 0 11px;
    max-width: $col-width * 12;
    flex-basis: $col-width * 12;
  }
}

/* Media Query sm - Max-width: 1023px */
@media screen and (max-width: 1023px) {
  /* Column Width sm */
  .col-sm-1 {
    padding: 0 11px;
    max-width: $col-width;
    flex-basis: $col-width;
  }

  .col-sm-2 {
    padding: 0 11px;
    max-width: $col-width * 2;
    flex-basis: $col-width * 2;
  }

  .col-sm-3 {
    padding: 0 11px;
    max-width: $col-width * 3;
    flex-basis: $col-width * 3;
  }

  .col-sm-4 {
    padding: 0 11px;
    max-width: $col-width * 4;
    flex-basis: $col-width * 4;
  }

  .col-sm-5 {
    padding: 0 11px;
    max-width: $col-width * 5;
    flex-basis: $col-width * 5;
  }

  .col-sm-6 {
    padding: 0 11px;
    max-width: $col-width * 6;
    flex-basis: $col-width * 6;
  }

  .col-sm-7 {
    padding: 0 11px;
    max-width: $col-width * 7;
    flex-basis: $col-width * 7;
  }

  .col-sm-8 {
    padding: 0 11px;
    max-width: $col-width * 8;
    flex-basis: $col-width * 8;
  }

  .col-sm-9 {
    padding: 0 11px;
    max-width: $col-width * 9;
    flex-basis: $col-width * 9;
  }

  .col-sm-10 {
    padding: 0 11px;
    max-width: $col-width * 10;
    flex-basis: $col-width * 10;
  }

  .col-sm-11 {
    padding: 0 11px;
    max-width: $col-width * 11;
    flex-basis: $col-width * 11;
  }

  .col-sm-12 {
    padding: 0 11px;
    max-width: $col-width * 12;
    flex-basis: $col-width * 12;
  }
}

/* Media Query sd - Max-Width: 768px */
@media screen and (max-width: 768px) {
  /* Column Width sd */
  .col-sd-1 {
    padding: 0 11px;
    max-width: $col-width;
    flex-basis: $col-width;
  }

  .col-sd-2 {
    padding: 0 11px;
    max-width: $col-width * 2;
    flex-basis: $col-width * 2;
  }

  .col-sd-3 {
    padding: 0 11px;
    max-width: $col-width * 3;
    flex-basis: $col-width * 3;
  }

  .col-sd-4 {
    padding: 0 11px;
    max-width: $col-width * 4;
    flex-basis: $col-width * 4;
  }

  .col-sd-5 {
    padding: 0 11px;
    max-width: $col-width * 5;
    flex-basis: $col-width * 5;
  }

  .col-sd-6 {
    padding: 0 11px;
    max-width: $col-width * 6;
    flex-basis: $col-width * 6;
  }

  .col-sd-7 {
    padding: 0 11px;
    max-width: $col-width * 7;
    flex-basis: $col-width * 7;
  }

  .col-sd-8 {
    padding: 0 11px;
    max-width: $col-width * 8;
    flex-basis: $col-width * 8;
  }

  .col-sd-9 {
    padding: 0 11px;
    max-width: $col-width * 9;
    flex-basis: $col-width * 9;
  }

  .col-sd-10 {
    padding: 0 11px;
    max-width: $col-width * 10;
    flex-basis: $col-width * 10;
  }

  .col-sd-11 {
    padding: 0 11px;
    max-width: $col-width * 11;
    flex-basis: $col-width * 11;
  }

  .col-sd-12 {
    padding: 0 11px;
    max-width: $col-width * 12;
    flex-basis: $col-width * 12;
  }
}

/* Media Query xs - Max-Width: 480px */
@media screen and (max-width: 480px) {
  /* Column Width xs */
  .col-xs-1 {
    padding: 0 11px;
    max-width: $col-width;
    flex-basis: $col-width;
  }

  .col-xs-2 {
    padding: 0 11px;
    max-width: $col-width * 2;
    flex-basis: $col-width * 2;
  }

  .col-xs-3 {
    padding: 0 11px;
    max-width: $col-width * 3;
    flex-basis: $col-width * 3;
  }

  .col-xs-4 {
    padding: 0 11px;
    max-width: $col-width * 4;
    flex-basis: $col-width * 4;
  }

  .col-xs-5 {
    padding: 0 11px;
    max-width: $col-width * 5;
    flex-basis: $col-width * 5;
  }

  .col-xs-6 {
    padding: 0 11px;
    max-width: $col-width * 6;
    flex-basis: $col-width * 6;
  }

  .col-xs-7 {
    padding: 0 11px;
    max-width: $col-width * 7;
    flex-basis: $col-width * 7;
  }

  .col-xs-8 {
    padding: 0 11px;
    max-width: $col-width * 8;
    flex-basis: $col-width * 8;
  }

  .col-xs-9 {
    padding: 0 11px;
    max-width: $col-width * 9;
    flex-basis: $col-width * 9;
  }

  .col-xs-10 {
    padding: 0 11px;
    max-width: $col-width * 10;
    flex-basis: $col-width * 10;
  }

  .col-xs-11 {
    padding: 0 11px;
    max-width: $col-width * 11;
    flex-basis: $col-width * 11;
  }

  .col-xs-12 {
    padding: 0 11px;
    max-width: $col-width * 12;
    flex-basis: $col-width * 12;
  }
  .title {
    font-style: normal;
    font-size: 1.2em;
    line-height: 38px;
  }
  .hidden {
    display: none;
  }
  .section {
    padding-top: 90px;
  }
}
