@use 'base/_base.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: base.$font-stack;
  width: 100%;
}
.section {
  height: 100vh;
  scroll-behavior: smooth; /* <----- THE SECRET ---- */
}
.accordion {
  width: 100%;
  max-height: 100%;
  padding: base.$accordion-padding;
  margin: auto;
  box-sizing: border-box;
  overflow: auto;
}

.accordion-item.accordion-active {
  .accordion-caret {
    animation: accordion-is-active base.$base-time linear forwards;
  }
}

.accordion-header {
  color: inherit;
  font-size: base.$accordion-header-font-size;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: base.$accordion-header-border-radius;
    transition: base.$accordion-header-transition;
    &:not(.accordion-active):hover {
      background-color: base.$accordion-header-hover-background-color;
    }
  }
}

.accordion-header-div {
  padding: base.$accordion-header-padding;
  &:last-child {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.accordion-caret {
  background-image: base.$accordion-caret-background-image;
  width: base.$accordion-caret-width;
  height: base.$accordion-caret-height;
  transform: base.$accordion-caret-transform;
  animation: accordion-is-inactive base.$base-time linear forwards;
}

.accordion-body {
  height: 0;
  overflow: hidden;
}

.accordion-content {
  padding: base.$accordion-body-content-padding;
}

@keyframes accordion-is-inactive {
  0% {
    transform: base.$accordion-caret-transform;
  }
  50% {
    transform: base.$accordion-caret-transforming;
  }
  100% {
    transform: base.$accordion-caret-active-transform;
  }
}

@keyframes accordion-is-active {
  0% {
    transform: base.$accordion-caret-active-transform;
  }
  50% {
    transform: base.$accordion-caret-transforming;
  }
  100% {
    transform: base.$accordion-caret-transform;
  }
}

.font-weight-bold {
  font-weight: bold;
}
:focus {
  outline: none;
}
.logo-form {
  width: 120px;
  margin-bottom: 15px;
}
.slide-content {
  padding: 50px;
}
.info-container {
  width: 100%;
  padding-top: 60px;
  color: #d7e9ff;
  display: flex;
  justify-content: center;
}
.info-title {
  font-size: 120%;
  width: 70%;
}
.info-step-1 {
  background-color: #6628ea;
  color: white;
  height: 100vh;
}
.info-text {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 18px;
}
.item-title {
  font-family: Monda;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 39px;
  color: #ffffff;
}
.item-text {
  color: #ffffff;
}
.info-content-step-1 {
  padding: 50px;
}
.subtitle-steps {
  font-weight: normal;
  font-size: 14.3347px;
  line-height: 23px;
}
.image-step-1 {
  width: 70%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
.fill-height {
  height: 100%;
  height: 100vh;
}
.content-register {
  padding: 0px 50px !important;
}

.btn-outline-primary {
  color: #5e72e4;
  background-color: transparent;
  background-image: none;
  border-color: #5e72e4;
}
form {
  box-sizing: border-box;
  width: 260px;
  padding-bottom: 40px;
  border-radius: 4px;
  h1 {
    padding: 20px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.form {
  width: 100%;

  .group {
    position: relative;
    padding-bottom: 1em;
    label {
      position: absolute;
      pointer-events: none;
      left: 0.5em;
      top: 0.5em;
      transition: 0.2s ease all;
      color: #ccc;
    }
    input {
      font-family: base.$font-stack;
      font-size: 0.8em;
      background-color: transparent;
      padding: 0.75em 1.7em;
      line-height: 1.5em;
      border: 0;
      display: block;
      width: 100%;
      margin-top: 1.5em;
      border-bottom: 1px solid base.$primary;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 96%,
        base.$primary 4%
      );
      background-position: -100em 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      padding-left: 0.5em;
      transition: 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) all;
      &:focus,
      &:valid {
        background-position: 0 0;
        ~ label {
          color: base.$primary;
          font-size: 0.875em;
          top: -1.5em;
        }
      }
      &:focus {
        outline: none;
      }
    }
  }
  .error {
    position: relative;
    padding-bottom: 1em;
    label {
      position: absolute;
      pointer-events: none;
      left: 0.5em;
      top: 1em;
      transition: 0.2s ease all;
      color: #ccc;
    }
    input[type='text'] {
      background-color: transparent;
      padding: 0.75em 1.5em;
      line-height: 1.5em;
      border: 0;
      display: block;
      width: 100%;
      margin-top: 2em;
      border-bottom: 1px solid base.$danger;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 96%,
        base.$danger 4%
      );
      background-position: -100em 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      padding-left: 0.5em;
      transition: 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) all;
      &:focus,
      &:valid {
        background-position: 0 0;
        ~ label {
          color: base.$danger;
          font-size: 0.875em;
          top: -1.5em;
        }
      }
      &:focus {
        outline: none;
      }
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #30333c;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}
.display-1 {
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1.5;
  color: #30333c;
}

.display-2 {
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 1.5;
  color: #30333c;
}

.display-3 {
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 1.5;
  color: #30333c;
}

.display-4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #30333c;
}
.headline {
  font-style: normal;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 33px;
  margin: 15px 0px;
}
// Colors Text

.text-grey {
  color: base.$grey;
}
.text-danger {
  color: base.$danger;
}
.text-primary {
  color: base.$primary !important;
}

.text-secondary {
  color: base.$secondary;
}

.text-success {
  color: base.$success;
}

.text-warning {
  color: base.$warning;
}

.text-info {
  color: base.$info;
}

.text-light {
  color: base.$white;
}

.text-dark {
  color: base.$gray-900;
}
.bg-grey {
  background-color: base.$grey;
}
.bg-danger {
  background-color: base.$danger;
}
.bg-primary {
  background-color: base.$primary;
}

.bg-secondary {
  background-color: base.$secondary;
}

.bg-success {
  background-color: base.$success;
}

.bg-warning {
  background-color: base.$warning;
}

.bg-info {
  background-color: base.$info;
}

.bg-light {
  background-color: base.$page-theme-primary;
}

.bg-dark {
  background-color: base.$gray-900;
}

.bg-muted {
  background-color: base.$gray-300;
}
.bg-theme {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 1440 631'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1025%26quot%3b)' fill='none'%3e%3crect width='1440' height='631' x='0' y='0' fill='rgba(102%2c 40%2c 234%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c518.691C95.459%2c528.274%2c169.574%2c441.222%2c251.937%2c392.022C337.423%2c340.956%2c449.769%2c314.866%2c492.094%2c224.732C534.463%2c134.504%2c489.597%2c29.992%2c467.589%2c-67.229C447.231%2c-157.16%2c424.781%2c-246.308%2c368.865%2c-319.624C310.544%2c-396.093%2c235.952%2c-462.291%2c144.232%2c-491.209C51.595%2c-520.416%2c-45.486%2c-497.741%2c-141.056%2c-480.393C-247.338%2c-461.101%2c-366.764%2c-460.288%2c-443.718%2c-384.484C-522.034%2c-307.339%2c-530.889%2c-187.371%2c-548.657%2c-78.885C-566.748%2c31.574%2c-616.104%2c161.544%2c-547.652%2c250.104C-476.985%2c341.529%2c-325.146%2c293.623%2c-221.399%2c344.504C-135.348%2c386.706%2c-95.364%2c509.117%2c0%2c518.691' fill='%235315d7'%3e%3c/path%3e%3cpath d='M1440 923.412C1496.91 919.979 1554.902 915.244 1603.0430000000001 884.7 1651.334 854.061 1673.722 799.1759999999999 1707.9850000000001 753.385 1752.81 693.478 1830.3029999999999 648.794 1835.412 574.148 1840.576 498.692 1795.446 420.23199999999997 1733.785 376.43399999999997 1674.651 334.432 1594.479 355.417 1522.048 351.569 1466.768 348.632 1414.351 349.743 1359.413 356.546 1293.499 364.708 1215.282 348.652 1168.103 395.4 1120.993 442.079 1131.6100000000001 519.897 1127.737 586.103 1124.162 647.213 1122.468 708.738 1146.481 765.046 1170.871 822.239 1209.083 875.643 1263.8029999999999 905.1669999999999 1316.842 933.784 1379.842 927.0409999999999 1440 923.412' fill='%237f4bed'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1025'%3e%3crect width='1440' height='631' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  width: 100%;
}
.mx-auto {
  margin: 0 auto;
}
.size-text {
  max-width: 600px;
  margin: 0 auto;
}

.text-left {
  text-align: left;
}
/* container class */
.container {
  padding: 0 15px;
  margin: 0 auto;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-5 {
  margin-top: 50px;
}
.mr-1 {
  margin-right: 10px;
}
.mr-2 {
  margin-right: 20px;
}
.mr-3 {
  margin-right: 30px;
}
.mr-4 {
  margin-right: 40px;
}
.mr-5 {
  margin-right: 50px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mb-5 {
  margin-bottom: 50px;
}

.my-1 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.my-2 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.my-3 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.my-4 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.my-5 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.mx-1 {
  margin: 0px 5px;
}
.mx-2 {
  margin: 0px 10px;
}
.mx-3 {
  margin: 0px 15px !important;
}
.mx-4 {
  margin: 0px 20px;
}
.mx-5 {
  margin: 0px 30px;
}
.pa-0 {
  padding: 0px !important;
}
.pa-1 {
  padding: 5px;
}
.pa-2 {
  padding: 10px;
}
.pa-3 {
  padding: 15px;
}
.pa-4 {
  padding: 20px;
}
.pa-5 {
  padding: 30px;
}
.py-0 {
  padding: 0px 0px;
}
.py-1 {
  padding: 5px 0px;
}
.py-2 {
  padding: 10px 0px;
}
.py-3 {
  padding: 15px 0px;
}
.py-4 {
  padding: 20px 0px;
}
.py-5 {
  padding: 30px 0px !important;
}
.px-0 {
  padding: 0px 0px !important;
}
.px-1 {
  padding: 0px 5px;
}
.px-2 {
  padding: 0px 10px;
}
.px-3 {
  padding: 0px 15px;
}
.px-4 {
  padding: 0px 20px;
}
.px-5 {
  padding: 0px 30px !important;
}
.pt-1 {
  margin-top: 10px;
}
.pt-2 {
  margin-top: 20px;
}
.pt-3 {
  margin-top: 30px;
}
.pt-4 {
  margin-top: 40px;
}
.pt-5 {
  margin-top: 50px;
}
.page {
  text-decoration: none;
  background: #ffffff;
  transition: all 0.35s ease;
  flex-shrink: 0;
  flex-grow: 1;
}
.card {
  border: 1px solid #eff2f6;
  text-decoration: none;
  background: #ffffff;
  transition: all 0.35s ease;
  flex-shrink: 0;
  flex-grow: 1;
  border-radius: 20px 20px;
}
.card-image {
  padding-top: 20px;
}
.card-body {
  margin: 20px 0px;
}
.card .card-body .card-subtitle {
  font-size: 15px;
  line-height: 26px;
  color: #6b6b6b;
  text-align: center;
}
.card .card-text .mdi {
  font-size: 20px;
  padding: 0px 10px;
}
.card .card-body .card-text {
  line-height: 20px;
  color: #6b6b6b;
  text-align: center;
  margin: 30px 0px;
}
.card ul li {
  list-style: none;
}
.card img {
  width: 90px;
}
.card .card-link {
  text-decoration: none;
  text-align: center;
}

.card-btn {
  margin: 15px 0px;
}

.card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #6628ea;
  text-align: center;
}
.list .list-item {
  font-size: 15px;
  text-align: left;
  display: flex;
  align-items: center;
  margin: 15px 0px;
}

.card-hover {
  cursor: pointer;
}
.selected-plan {
  cursor: pointer;
  color: #fff !important;
  background: base.$primary;
  border-color: base.$primary;
  -webkit-transform: scale(1.05);
  color: base.$white !important;
  z-index: 0;
  .list .list-item {
    color: white;
  }
  .card-title {
    color: #fff;
  }
  .card-subtitle {
    color: #fff;
  }
}

.card-footer {
  padding: 20px 0px;
}
.card-image {
  margin: 0 auto;
  width: 90px;
}
/* btn styles */
.btn {
  min-width: 160px;
  font-size: base.$input-btn-font-size;
  padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 5px;
  border: 2px solid #1d27e7;
  outline: none;
  white-space: nowrap;
  font-weight: 500;
  vertical-align: middle;
  margin: 5px;
  box-shadow: 0 0 2px -2px rgba(29, 39, 231, 0.1),
    0 0 3px 0 rgba(29, 39, 231, 0.1), 0 0 5px 0 rgba(29, 39, 231, 0.1),
    0 2px 2px -4px rgba(29, 39, 231, 0.1), 0 4px 8px 0 rgba(29, 39, 231, 0.1),
    0 2px 15px 0 rgba(29, 39, 231, 0.1);
}
.btn-sm {
  font-size: base.$input-btn-font-size-sm;
}

.btn-lg {
  font-size: base.$input-btn-font-size-lg;
}
.btn-outline {
  background-color: transparent;
  color: #131bb4;
}

.btn-primary {
  color: base.$white;
  background-color: #5530e5;
  border-color: #5530e5;
}

.btn-secondary {
  color: #212529;
  background-color: #f4f5f7;
  border-color: #f4f5f7;
}
.btn-secondary:hover {
  color: #212529;
  background-color: #f4f5f7;
  border-color: #f4f5f7;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-rounded {
  border-radius: 38.5px;
}
/* btn styles */

/* max width 1400px */
.max-width {
  max-width: 1400px;
  margin: 0 auto;
}
.red {
  background-color: red;
}
.green {
  background-color: #21e641;
}
/* row class to be used when using col-*-* */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 100%;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.justify-start {
  justify-content: start;
}
.align-flex-end {
  align-items: flex-end;
}
.align-center {
  align-items: center !important;
}
.align-content-center {
  align-content: center !important;
}
.space-around {
  justify-content: space-around;
}
/* row class but with full width */
.row-full-width {
  margin: 0 -15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* column class to be used instead of row class to change flex-direction only */
.column {
  margin: 0 -11px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* column class with full width */
.column-full-width {
  margin: 0 -15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}

/* Column Width Variable */
$col-width: 8.333333333333333%; /* 1 Column Width = 100% / 12 */

/* Column Width md - Default */
.title {
  font-size: 38px;
  font-weight: bold;
  line-height: 58px;
}
.col-md-1 {
  padding: 0 11px;
  max-width: $col-width;
  flex-basis: $col-width;
}

.col-md-2 {
  padding: 0 11px;
  max-width: $col-width * 2;
  flex-basis: $col-width * 2;
}

.col-md-3 {
  padding: 0 11px;
  max-width: $col-width * 3;
  flex-basis: $col-width * 3;
}

.col-md-4 {
  padding: 0 11px;
  max-width: $col-width * 4;
  flex-basis: $col-width * 4;
}

.col-md-5 {
  padding: 0 11px;
  max-width: $col-width * 5;
  flex-basis: $col-width * 5;
}

.col-md-6 {
  padding: 0 11px;
  max-width: $col-width * 6;
  flex-basis: $col-width * 6;
}

.col-md-7 {
  padding: 0 11px;
  max-width: $col-width * 7;
  flex-basis: $col-width * 7;
}

.col-md-8 {
  padding: 0 11px;
  max-width: $col-width * 8;
  flex-basis: $col-width * 8;
}

.col-md-9 {
  padding: 0 11px;
  max-width: $col-width * 9;
  flex-basis: $col-width * 9;
}

.col-md-10 {
  padding: 0 11px;
  max-width: $col-width * 10;
  flex-basis: $col-width * 10;
}

.col-md-11 {
  padding: 0 11px;
  max-width: $col-width * 11;
  flex-basis: $col-width * 11;
}

.col-md-12 {
  padding: 0 11px;
  max-width: $col-width * 12;
  flex-basis: $col-width * 12;
}

/* To be used if columns are required without any padding */
.col-no-padding {
  padding: 0;
}

/* Media Query lg - Min-Width: 1400px */
@media screen and (min-width: 1400px) {
  /* Column Width lg */
  .title {
    font-size: 3.5em;
    font-weight: bold;
    line-height: 88px;
  }
  .subtitle {
    font-size: 18px;
    color: #6b6b6b;
  }
  .col-lg-1 {
    padding: 0 11px;
    max-width: $col-width;
    flex-basis: $col-width;
  }

  .col-lg-2 {
    padding: 0 11px;
    max-width: $col-width * 2;
    flex-basis: $col-width * 2;
  }

  .col-lg-3 {
    padding: 0 11px;
    max-width: $col-width * 3;
    flex-basis: $col-width * 3;
  }

  .col-lg-4 {
    padding: 0 11px;
    max-width: $col-width * 4;
    flex-basis: $col-width * 4;
  }

  .col-lg-5 {
    padding: 0 11px;
    max-width: $col-width * 5;
    flex-basis: $col-width * 5;
  }

  .col-lg-6 {
    padding: 0 11px;
    max-width: $col-width * 6;
    flex-basis: $col-width * 6;
  }

  .col-lg-7 {
    padding: 0 11px;
    max-width: $col-width * 7;
    flex-basis: $col-width * 7;
  }

  .col-lg-8 {
    padding: 0 11px;
    max-width: $col-width * 8;
    flex-basis: $col-width * 8;
  }

  .col-lg-9 {
    padding: 0 11px;
    max-width: $col-width * 9;
    flex-basis: $col-width * 9;
  }

  .col-lg-10 {
    padding: 0 11px;
    max-width: $col-width * 10;
    flex-basis: $col-width * 10;
  }

  .col-lg-11 {
    padding: 0 11px;
    max-width: $col-width * 11;
    flex-basis: $col-width * 11;
  }

  .col-lg-12 {
    padding: 0 11px;
    max-width: $col-width * 12;
    flex-basis: $col-width * 12;
  }
}

/* Media Query ml - Min-Width: 1200px */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  /* Column Width ml */
  .col-ml-1 {
    padding: 0 11px;
    max-width: $col-width;
    flex-basis: $col-width;
  }

  .col-ml-2 {
    padding: 0 11px;
    max-width: $col-width * 2;
    flex-basis: $col-width * 2;
  }

  .col-ml-3 {
    padding: 0 11px;
    max-width: $col-width * 3;
    flex-basis: $col-width * 3;
  }

  .col-ml-4 {
    padding: 0 11px;
    max-width: $col-width * 4;
    flex-basis: $col-width * 4;
  }

  .col-ml-5 {
    padding: 0 11px;
    max-width: $col-width * 5;
    flex-basis: $col-width * 5;
  }

  .col-ml-6 {
    padding: 0 11px;
    max-width: $col-width * 6;
    flex-basis: $col-width * 6;
  }

  .col-ml-7 {
    padding: 0 11px;
    max-width: $col-width * 7;
    flex-basis: $col-width * 7;
  }

  .col-ml-8 {
    padding: 0 11px;
    max-width: $col-width * 8;
    flex-basis: $col-width * 8;
  }

  .col-ml-9 {
    padding: 0 11px;
    max-width: $col-width * 9;
    flex-basis: $col-width * 9;
  }

  .col-ml-10 {
    padding: 0 11px;
    max-width: $col-width * 10;
    flex-basis: $col-width * 10;
  }

  .col-ml-11 {
    padding: 0 11px;
    max-width: $col-width * 11;
    flex-basis: $col-width * 11;
  }

  .col-ml-12 {
    padding: 0 11px;
    max-width: $col-width * 12;
    flex-basis: $col-width * 12;
  }
}

/* Media Query sm - Max-width: 1023px */
@media screen and (max-width: 1023px) {
  /* Column Width sm */
  .col-sm-1 {
    padding: 0 11px;
    max-width: $col-width;
    flex-basis: $col-width;
  }

  .col-sm-2 {
    padding: 0 11px;
    max-width: $col-width * 2;
    flex-basis: $col-width * 2;
  }

  .col-sm-3 {
    padding: 0 11px;
    max-width: $col-width * 3;
    flex-basis: $col-width * 3;
  }

  .col-sm-4 {
    padding: 0 11px;
    max-width: $col-width * 4;
    flex-basis: $col-width * 4;
  }

  .col-sm-5 {
    padding: 0 11px;
    max-width: $col-width * 5;
    flex-basis: $col-width * 5;
  }

  .col-sm-6 {
    padding: 0 11px;
    max-width: $col-width * 6;
    flex-basis: $col-width * 6;
  }

  .col-sm-7 {
    padding: 0 11px;
    max-width: $col-width * 7;
    flex-basis: $col-width * 7;
  }

  .col-sm-8 {
    padding: 0 11px;
    max-width: $col-width * 8;
    flex-basis: $col-width * 8;
  }

  .col-sm-9 {
    padding: 0 11px;
    max-width: $col-width * 9;
    flex-basis: $col-width * 9;
  }

  .col-sm-10 {
    padding: 0 11px;
    max-width: $col-width * 10;
    flex-basis: $col-width * 10;
  }

  .col-sm-11 {
    padding: 0 11px;
    max-width: $col-width * 11;
    flex-basis: $col-width * 11;
  }

  .col-sm-12 {
    padding: 0 11px;
    max-width: $col-width * 12;
    flex-basis: $col-width * 12;
  }
}

/* Media Query sd - Max-Width: 768px */
@media screen and (max-width: 768px) {
  /* Column Width sd */
  .col-sd-1 {
    padding: 0 11px;
    max-width: $col-width;
    flex-basis: $col-width;
  }

  .col-sd-2 {
    padding: 0 11px;
    max-width: $col-width * 2;
    flex-basis: $col-width * 2;
  }

  .col-sd-3 {
    padding: 0 11px;
    max-width: $col-width * 3;
    flex-basis: $col-width * 3;
  }

  .col-sd-4 {
    padding: 0 11px;
    max-width: $col-width * 4;
    flex-basis: $col-width * 4;
  }

  .col-sd-5 {
    padding: 0 11px;
    max-width: $col-width * 5;
    flex-basis: $col-width * 5;
  }

  .col-sd-6 {
    padding: 0 11px;
    max-width: $col-width * 6;
    flex-basis: $col-width * 6;
  }

  .col-sd-7 {
    padding: 0 11px;
    max-width: $col-width * 7;
    flex-basis: $col-width * 7;
  }

  .col-sd-8 {
    padding: 0 11px;
    max-width: $col-width * 8;
    flex-basis: $col-width * 8;
  }

  .col-sd-9 {
    padding: 0 11px;
    max-width: $col-width * 9;
    flex-basis: $col-width * 9;
  }

  .col-sd-10 {
    padding: 0 11px;
    max-width: $col-width * 10;
    flex-basis: $col-width * 10;
  }

  .col-sd-11 {
    padding: 0 11px;
    max-width: $col-width * 11;
    flex-basis: $col-width * 11;
  }

  .col-sd-12 {
    padding: 0 11px;
    max-width: $col-width * 12;
    flex-basis: $col-width * 12;
  }
}

/* Media Query xs - Max-Width: 480px */
@media screen and (max-width: 480px) {
  /* Column Width xs */
  .col-xs-1 {
    padding: 0 11px;
    max-width: $col-width;
    flex-basis: $col-width;
  }

  .col-xs-2 {
    padding: 0 11px;
    max-width: $col-width * 2;
    flex-basis: $col-width * 2;
  }

  .col-xs-3 {
    padding: 0 11px;
    max-width: $col-width * 3;
    flex-basis: $col-width * 3;
  }

  .col-xs-4 {
    padding: 0 11px;
    max-width: $col-width * 4;
    flex-basis: $col-width * 4;
  }

  .col-xs-5 {
    padding: 0 11px;
    max-width: $col-width * 5;
    flex-basis: $col-width * 5;
  }

  .col-xs-6 {
    padding: 0 11px;
    max-width: $col-width * 6;
    flex-basis: $col-width * 6;
  }

  .col-xs-7 {
    padding: 0 11px;
    max-width: $col-width * 7;
    flex-basis: $col-width * 7;
  }

  .col-xs-8 {
    padding: 0 11px;
    max-width: $col-width * 8;
    flex-basis: $col-width * 8;
  }

  .col-xs-9 {
    padding: 0 11px;
    max-width: $col-width * 9;
    flex-basis: $col-width * 9;
  }

  .col-xs-10 {
    padding: 0 11px;
    max-width: $col-width * 10;
    flex-basis: $col-width * 10;
  }

  .col-xs-11 {
    padding: 0 11px;
    max-width: $col-width * 11;
    flex-basis: $col-width * 11;
  }

  .col-xs-12 {
    padding: 0 11px;
    max-width: $col-width * 12;
    flex-basis: $col-width * 12;
  }
  .title {
    font-style: normal;
    font-size: 1.2em;
    line-height: 38px;
  }
  .hidden {
    display: none;
  }

  .card.card-contrast {
    margin: 15px 0px;
  }
}
.hooper-slide {
  flex-shrink: 0;
  height: 100%;
  margin: 50px 5px;
  padding: 10px 0px;
  list-style: none;
}
.hooper-progress {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 4px;
  background-color: #efefef;
}
.hooper-progress-inner {
  height: 100%;
  background-color: #4285f4;
  transition: 300ms;
}
.hooper-pagination {
  position: absolute;
  bottom: 30px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  padding: 5px 10px;
  justify-items: center;
}
.hooper-indicators {
  display: flex;
  justify-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 40%;
}
.hooper-indicator:hover,
.hooper-indicator.is-active {
  background-color: #26c6da;
}
.hooper-indicator {
  margin: 0 2px;
  border: none;
  padding: 0;
  background-color: #fff;
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: rgb(235, 240, 231);
  border-radius: 50%;
}
.hooper-pagination.is-vertical {
  bottom: auto;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.hooper-pagination.is-vertical .hooper-indicators {
  flex-direction: column;
}
.hooper-pagination.is-vertical .hooper-indicator {
  width: 6px;
}
.hooper-next,
.hooper-prev {
  background-color: transparent;
  border: none;
  padding: 1em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.hooper-next.is-disabled,
.hooper-prev.is-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.hooper-next {
  right: 0;
}
.hooper-prev {
  left: 0;
}
.hooper-navigation.is-vertical .hooper-next {
  top: auto;
  bottom: 0;
  transform: initial;
}
.hooper-navigation.is-vertical .hooper-prev {
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
  transform: initial;
}
.hooper-navigation.is-rtl .hooper-prev {
  left: auto;
  right: 0;
}
.hooper-navigation.is-rtl .hooper-next {
  right: auto;
  left: 0;
}
.hooper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.hooper * {
  box-sizing: border-box;
}
.hooper-list {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.hooper-track {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.hooper.is-vertical .hooper-track {
  flex-direction: column;
  height: 200px;
}

.hooper.is-rtl {
  direction: rtl;
}

.hooper-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
